*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}
body{
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#590d29; 
}

.center{
	width: 90%;
	background-color: grey;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.item1, .item2, .item3 {
    flex: 1;
    min-width: 500px;
    background-color: #4a4245;
    padding: 5px;
    margin: 5px;
}

.container{
    width: fit-content;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}